
<h2 class="text-warning text-center"> My accomplishments:</h2>
<div class=" text-center">
    <h4 class="font-weight-bold">I just finished my workout @DateTime.Now <i class="fas fa-check"></i> </h4>
</div>